body {
  font-family: "Arial";
  background: #f7f5f0;
}

h1 {
  background: #e2e2e2;
  padding: 5px;
}

/* class selectors */

.main-img {
  border: solid 2px white;
  border-radius: 15%;
}

.section-title {
  text-transform: capitalize;
}
